<% layout('layouts/boilerplate')%>
<h1>Edit Course</h1>
<form action="/courses/<%=course._id%>?_method=PUT" method="POST">
    <div>
        <label for="courseCode">Course Code</label>
        <input type="text" id="courseCode" name="course[code]" value="<%=course.code%>">
    </div>
    <div>
        <label for="courseName">Course Name</label>
        <input type="text" id="courseName" name="course[name]" value="<%=course.name%>">
    </div>
    <button>Update Course</button>
</form>
<a href="/courses/<%=course._id%>">Back To Course</a>