<% layout('layouts/boilerplate')%>
<h1> All Courses</h1>
<div>
    <a href="/courses/new">Create New Course</a>
</div>
<ul>
    <% for (let course of courses){ %>
        <li> <a href="/courses/<%=course._id%>"> <%= course.name %></a> </li>
    <% } %>
</ul>
