<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Create New Course</h1>
    <div class="col-6 offset-3">
        <form action="/courses" method="POST">
            <div class="mb-3">
                <label class="form-label" for="courseCode">Course Code</label>
                <input class="form-control" type="text" id="courseCode" name="course[code]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="courseName">Course Name</label>
                <input class="form-control" type="text" id="courseName" name="course[name]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="courseImg">Image Url</label>
                <input class="form-control" type="text" id="courseImg" name="course[image]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Create Course</button>
            </div>
            
        </form>
    </div>
</div>