<% layout('layouts/boilerplate')%>
<h1> <%= course.name %> </h1>
<ul>
    <li> Course name: <%= course.name %></li>
    <li> Course code: <%= course.code %></li>
</ul>
<footer>
    <a href="/courses">All Courses</a>
    <a href="/courses/<%=course._id%>/edit">Edit Course</a>
</footer>
